/* Responsible for the design of the to do list site */
body {
  background-color: rgb(27, 25, 25);
}
.App {
  max-width: 400px;
  margin: 50px auto;
  font-family: "Arial", sans-serif;
}

h1 {
  color: #333;
}

.input_container {
  display: flex;
  margin-bottom: 20px;
}

.input_container input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.input_container button {
  padding: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: 1px solid #28a745;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.input_container button:hover {
  background-color: #218838;
}

.task_list {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.task input {
  flex-grow: 1;
  padding: 8px;
  font-size: 14px;
  border: none;
  outline: none;
}

.task button {
  padding: 8px;
  font-size: 14px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-left: 5px;
}

.task button:hover {
  background-color: #c82333;
}

.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: #f8f9fa;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  border-radius: 10px;
}
.edit,
.delete {
  width: 20px;
  height: 20px;
}
